* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --rootColor: #f9004d;
  --white: #ffffff;
}

.img-wrapper {
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
  background-position: 50% 50%;
}

.icon {
  color: var(--rootColor);
}

.box-wrapper {
  transition: all .15s;
}

.box-wrapper:hover {
  cursor: pointer;
  background-image: linear-gradient(90deg, #f61b10, #ef0963);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.span:hover {
  color: #fff;
}

.stats-wrapper {
  background-image: url(Images/pexels-edmond-dantès-8553863\ \(1\).jpg);
}

.box-wrapper:hover .icon {
  color: #fff;
}

.graph-img {
  width: 50%;
  object-fit: cover;
}

.overlay {
  transition: all .5s;
  background-color: rgba(0, 0, 0, 0.5);
}

.fashion-wrapper {
  height: 500px;
}

.fashion-wrapper button {
  display: none;
}

.fashion-wrapper button:hover {
  background-color: #f61b10;
  color: #fff;
  border: none;
}

.fashion-stats {
  transition: all .5s;
}

.fashion-wrapper:hover .overlay {
  background-image: linear-gradient(180deg, rgba(252, 0, 77, 0.7), rgba(0, 0, 0, 0.7));
  cursor: pointer;
}

.fashion-wrapper:hover .fashion-stats {
  transform: translateY(-40%);
}

.fashion-wrapper:hover button {
  display: block;

}

.work-pattern-wrapper {
  background-image: url(Images/pattern-1.png), linear-gradient(90deg, #f61b10, #ef0963);
  height: 450px;
}

.work-pattern-wrapper>p {
  letter-spacing: 3px;
}

.footer {
  color: rgba(198, 201, 216, .75);
}

.footer-overlay {
  background-color: rgba(0, 1, 12, 0.5);
}

@media only screen and (max-width:766px) {
  .graph-img {
    width: 100%;
  }
}